slider {
    -xf-thumb-color: red;
    -xf-max-track-color: goldenrod;
    -xf-min-track-color: red;
    background-color: lightgoldenrodyellow;
}

navigationpage {
    -xf-bar-background-color: darkgreen;
}

^contentpage {
    background-color: orange;
}

#topStack {
    background-color: darkblue;
}


#rotatingLabel {
    background-color: purple;
    color: orange;
    /* custom font doesn't seem to work here */
    font-family: "Circus.ttf#Circus", "Circus", cursive, sans-serif;
    font-size: 38;
}

#topStack label {
    width: 100;
    text-align: center;
    font-size: 20;
}

#SunflowerLayout {
    background-color: azure;
}

#ageLabel {
    background-color: yellowgreen;
}

#test1Label {
    background-color: pink;
}

#angleLabel {
    background-color: saddlebrown;
    color: white;
}

#textChoiceStack {
    padding: 4;
    vertical-align: bottom;
    background-color: skyblue;
}
