slider {
    -xf-thumb-color: red;
    -xf-max-track-color: goldenrod;
    -xf-min-track-color: red;
    background-color: lightgoldenrodyellow;
}

navigationpage {
    -xf-bar-background-color: darkgreen;
}

^contentpage {
    background-color: white;
}

#topStack {
    background-color: darkblue;
}


#rotatingLabel {
    background-color: purple;
    color: white;
    /* custom font doesn't seem to work here */
    /*font-family: "Circus.ttf#Circus", "Circus", cursive, sans-serif;*/
    font-size: 38;
}

#topStack label {
    width: 100;
    text-align: center;
    font-size: 20;
}

#SunflowerLayout {
    background-color: azure;
}

#ageLabel {
    background-color: yellowgreen;
}

#test1Label {
    background-color: pink;
}

#angleLabel {
    background-color: saddlebrown;
    color: white;
}

#textChoiceStack {
    padding: 4;
    vertical-align: bottom;
    background-color: skyblue;
}

.TransactionGridRow Label {
    margin: 3;
}
#TransactionAmount, #TransactionBalance {
    text-align: right;
}
#TransactionDate {
    font-size: Micro;
    color: #8C8C8C;
}
#TransactionDescription {
    margin-top: -3;
    color: #505050;
}
#TransactionAmount  {
    font-style: bold;
}
.PositiveNumber  {
    color: #003366;
}
.NegativeNumber  {
    color: #F35E5E
}
/* balance, transaction history */
.LightColouredText  {
    font-size: Micro;
    color: #6685A3;
}
.HeaderRightPanel Label {
    font-size: Micro;
    text-align: right;
    color: #b9b9b9;
}

/*
positiveAmount #003366 (+ currentBalance)
negativeAmount #F35E5E
balance #6685A3
TRANSACTION_HISTORY #7995AF
date #8C8C8C
description #505050
accountTypeDescription #383838
accountNumberEtc #b9b9b9
remainingAllowance #B0C568
*/
